:root {

}

* {
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  height: 100%;
  width: 100%;
  
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#root {
  display: flex;
  flex: 1;
}

.gameTitleDiv {
  display: flex;
  justify-content: space-between;
}

.gameTitle {
  font-size: 2rem;
}

.cardGrid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.cards {
  background-repeat: no-repeat;
  background-size: contain;
  height: 240px;
}

.cards:hover {
  transform: scale(105%);
}