@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&family=Libre+Baskerville:ital@1&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


:root {
  --gameMenuFont: 'Lexend Deca', sans-serif;
  --uiTxt: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  height: 100%;
  width: 100%;
  
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#root {
  display: flex;
  flex: 1;
}

.gameTitleDiv {
  display: flex;
  justify-content: space-between;
}

.gameTitle {
  font-size: 2rem;
  font-family: var(--uiTxt)
}

.subGameTitle, .highScoreTxt, .currentScoreTxt {
  font-family: var(--uiTxt)
}

.scoreboardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardGrid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.cards {
  background-repeat: no-repeat;
  background-size: contain;
  height: 240px;
}

.cards:hover {
  transform: scale(105%);
  cursor: pointer;
}
.cards:active {
  transform: scale(100%);
  filter: brightness(50%);
  cursor: pointer;
  transition: all 0.5s ease-out;
  
}

.overlay {
  z-index: 9999;
  background: gray;
  opacity: 80%;
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlayTitle {
  display:flex;
  font-family: var(--gameMenuFont);
  font-size: 3rem;
  font-weight: bold;
}

.overlayMenuDiv {
  display:flex;
  flex-direction: column;
}
.overlayBtn {
  display: flex;
  font-family: var(--gameMenuFont);
  justify-self: center;
  align-self: center;
  padding:5px;
  cursor: pointer;
  
}